@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Onest Variable', sans-serif;
  color-scheme: light dark;
  background-color: #242424;
  line-height: 1.5;
  color: #D1D5DB;
  text-wrap: pretty;
}

.identifier-header-hover:hover {
  box-shadow: 0px 0px 170px -46px rgba(255,0,0,1);
}

strong {
  font-weight: bold;
}

p {
  font-weight: 200;
}